In [1]:
# Libraries
import gmaps
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import json

# API key
from api_keys import g_key

gmaps.configure(api_key = g_key)

In [2]:
city_df = pd.read_csv("Data/city_df.csv", encoding = "utf-8")
city_df

,City,Latitude,Longitude,Max. Temperature (C),Humidity (%),Cloudiness (%),Wind Speed (m/s),Country,Date (unix-UTC),Date
0,Busselton,-33.6500,115.3333,23.91,58.0,99,3.35,AU,1635042962,2021-10-24 02:36:02
1,Ushuaia,-54.8000,-68.3000,0.81,86.0,75,5.66,AR,1635042963,2021-10-24 02:36:03
2,Kruisfontein,-34.0033,24.7314,9.95,79.0,6,3.58,ZA,1635042964,2021-10-24 02:36:04
3,Ponta do Sol,32.6667,-17.1000,21.35,64.0,15,2.71,PT,1635042967,2021-10-24 02:36:07
4,Cavalcante,-13.7975,-47.4583,23.74,72.0,100,1.08,BR,1635042968,2021-10-24 02:36:08
...,...,...,...,...,...,...,...,...,...,...
536,Sūsangerd,31.5608,48.1831,16.01,22.0,0,2.68,IR,1635043534,2021-10-24 02:45:34
537,Jaora,23.6333,75.1333,21.99,71.0,0,2.82,IN,1635043536,2021-10-24 02:45:36
538,Aklavik,68.2191,-135.0107,-1.54,95.0,82,1.38,CA,1635043536,2021-10-24 02:45:36
539,Ust-Nera,64.5667,143.2000,-13.81,93.0,87,2.44,RU,1635043538,2021-10-24 02:45:38
540,Forestville,38.8451,-76.8750,13.48,80.0,1,2.06,US,1635043539,2021-10-24 02:45:39

In [3]:
# Store Latitude and Longitude in city_locations
city_locations = city_df[["Latitude", "Longitude"]]

# Humidity converted to float
city_humidity = city_df["Humidity (%)"].astype(float)

# city_data = city_df[["Latitude", "Longitude", "Humidity (%)"]].to_numpy()

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black'
}

fig = gmaps.figure(layout = figure_layout)

# Creating heat layer
# heat_layer = gmaps.heatmap_layer(city_locations,
#                                  weights = city_humidity,
#                                  dissipating = False,
#                                  max_intensity = 10,
#                                  point_radius = 1)

# heat_layer = gmaps.WeightedHeatmap(data = city_data)

fig.add_layer(gmaps.heatmap_layer(city_locations, weights = city_humidity))

fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', width='900px'))

In [4]:
print("Count before droping NA values:\n")
print(city_df.count())
print("\nCount after droping NA values: \n")
city_df = city_df.dropna(how = "any")
print(city_df.count())

city_df_ideal_weather = city_df[
    (city_df["Max. Temperature (C)"] >= 20) & 
    (city_df["Max. Temperature (C)"] <= 30) & 
    (city_df["Wind Speed (m/s)"] <= 5) &
    (city_df["Cloudiness (%)"] == 0)
].reset_index(drop = True).copy()

print(f"\nA total of {len(city_df_ideal_weather)} cities/city passed the ideal conditions: \n- Max. Temperature between {20} and {30} C degrees\n- Wind Speed iqual or less than {5} m/s\n- Cloudiness equal to {0}%")
city_df_ideal_weather

Count before droping NA values:

City                    541
Latitude                541
Longitude               541
Max. Temperature (C)    541
Humidity (%)            541
Cloudiness (%)          541
Wind Speed (m/s)        541
Country                 539
Date (unix-UTC)         541
Date                    541
dtype: int64

Count after droping NA values:

City                    539
Latitude                539
Longitude               539
Max. Temperature (C)    539
Humidity (%)            539
Cloudiness (%)          539
Wind Speed (m/s)        539
Country                 539
Date (unix-UTC)         539
Date                    539
dtype: int64

A total of 16 cities/city passed the ideal conditions:
- Max. Temperature between 20 and 30 C degrees
- Wind Speed iqual or less than 5 m/s
- Cloudiness equal to 0%

,City,Latitude,Longitude,Max. Temperature (C),Humidity (%),Cloudiness (%),Wind Speed (m/s),Country,Date (unix-UTC),Date
0,Buraidah,26.3260,43.9750,20.25,25.0,0,4.13,SA,1635042795,2021-10-24 02:33:15
1,Beloha,-25.1667,45.0500,20.35,78.0,0,1.38,MG,1635043020,2021-10-24 02:37:00
2,Geraldton,-28.7667,114.6000,29.23,39.0,0,4.63,AU,1635043061,2021-10-24 02:37:41
3,Umluj,25.0213,37.2685,24.52,60.0,0,4.25,SA,1635042838,2021-10-24 02:33:58
4,Matamoros,25.5333,-103.2500,25.62,34.0,0,1.70,MX,1635043124,2021-10-24 02:38:44
5,Eagle Pass,28.7091,-100.4995,26.82,52.0,0,4.62,US,1635043151,2021-10-24 02:39:11
6,Province of Trapani,37.8333,12.6667,20.10,94.0,0,1.54,IT,1635043178,2021-10-24 02:39:38
7,Kunda,25.7167,81.5167,25.24,57.0,0,1.60,IN,1635043195,2021-10-24 02:39:55
8,Nizwá,22.9333,57.5333,24.05,57.0,0,0.54,OM,1635043248,2021-10-24 02:40:48
9,Doha,25.2867,51.5333,24.99,67.0,0,1.54,QA,1635043269,2021-10-24 02:41:09
10,Kasganj,27.8167,78.6500,23.95,59.0,0,2.59,IN,1635043322,2021-10-24 02:42:02
11,Niamey,13.5137,2.1098,28.16,61.0,0,3.09,NE,1635043335,2021-10-24 02:42:15
12,Ormara,25.2088,64.6357,25.40,23.0,0,4.14,PK,1635043374,2021-10-24 02:42:54
13,Kibala,9.1104,18.3463,22.97,88.0,0,0.00,TD,1635043422,2021-10-24 02:43:42
14,Atarra,25.2833,80.5667,25.21,54.0,0,1.59,IN,1635043508,2021-10-24 02:45:08
15,Jaora,23.6333,75.1333,21.99,71.0,0,2.82,IN,1635043536,2021-10-24 02:45:36

In [10]:
target_radius = 5000
target_type = "lodging"

hotel_name = []
hotel_lat = []
hotel_lng = []

for index, row in city_df_ideal_weather.iterrows():
    target_coordinates = (float(row[1]), float(row[2]))
    
    # set up a parameters dictionary
    params = {
        "location": target_coordinates,
        "radius": target_radius,
        "type": target_type,
        "key": g_key
    }
    
#     print(target_coordinates)
    base url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
    response = requests.get(base_url, params=params)
    
    # convert response to json
    places_data = response.json()

    # Print the json (pretty printed)
    print(json.dumps(places_data, indent=4, sort_keys=True))
    
    print(places_data["results"][0]["name"])
    print(places_data["results"][0]["geometry"]["location"]["lat"])
    print(places_data["results"][0]["geometry"]["location"]["lng"])
    
    hotel_name.append(places_data["results"][0]["name"])
    hotel_lat.append(places_data["results"][0]["geometry"]["location"]["lat"])
    hotel_lng.append(places_data["results"][0]["geometry"]["location"]["lng"])

(26.326, 43.975)
(-25.1667, 45.05)
(-28.7667, 114.6)
(25.0213, 37.2685)
(25.5333, -103.25)
(28.7091, -100.4995)
(37.8333, 12.6667)
(25.7167, 81.5167)
(22.9333, 57.5333)
(25.2867, 51.5333)
(27.8167, 78.65)
(13.5137, 2.1098)
(25.2088, 64.6357)
(9.1104, 18.3463)
(25.2833, 80.5667)
(23.6333, 75.1333)

In [7]:
ideal_city_markers = gmaps.marker_layer(city_df_ideal_weather[["Latitude", "Longitude"]])
fig.add_layer(ideal_city_markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', width='900px'))

In [ ]:
target_coordinates

In [ ]:
citipy.nearest_city(target_coordinates[0], target_coordinates[1]).city_name

In [ ]:
target_radius = 5000
target_type = "lodging"
target_coordinates = (-28.7667, 114.6000)
hotel_name = []

params = {
    "location": target_coordinates,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}
    
    # base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # run a request using our params dictionary
response = requests.get(base_url, params=params)
    
    # convert response to json
places_data = response.json()

In [ ]:
print(json.dumps(places_data, indent=4, sort_keys=True))

In [ ]:
print(response.url)